read_debug/src/main/resources/META-INF/user.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:user="http://www.example.com/schema/user"
			targetNamespace="http://www.example.com/schema/user"
			elementFormDefault="qualified"
			attributeFormDefault="unqualified">

	<xsd:element name="user">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:int"/>
			<xsd:attribute name="name" type="xsd:string"/>
			<xsd:attribute name="email" type="xsd:string"/>
			<xsd:attribute name="age" type="xsd:int"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>