spring-debug/src/main/resources/META-INF/user.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.example.com/schema/user"
			xmlns:tns="http://www.example.com/schema/user"
			elementFormDefault="qualified">

	<!--添加-->
	<!-- targetNamespace  xmlns:tns element name="user"    attribute name="id" type="string"    -->

	<element name="user">
		<complexType>
			<attribute name="id" type="string"/>
			<attribute name="username" type="string"/>
			<attribute name="email" type="string"/>
			<attribute name="password" type="string"/>
		</complexType>
	</element>

</schema>
